
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    column-gap: 60px;
    flex-grow: 1;
}

.cartList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
