.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #2f2d2d;
    padding-bottom: 239px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #2f2d2d;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 128px;
    padding-top: 37px;
}
.tel-number {
    width: 218px;
    border: 1px solid #e4b564;
    display: flex;
    justify-content: center;
}
.callback {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #e4b564;
}
.what-we-do {
    max-width: 1460px;
    margin: 0 auto;
    margin-bottom: 160px;
}
h2 {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #fff;
}
.building-company {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin: 41px 0;
}
.uslugi {
    font-family: 'Gilam';
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    max-width: 1460px;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: 468px 468px;
    row-gap: 27px;
    column-gap: 20px;
}
.ground-works {
    height: 468px;
    background-color: #634f2c;
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underground {
    height: 468px;
    background-color: #b4a385;
    grid-row: 1;
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.channels {
    height: 468px;
    background-color: #e4b564;
    grid-row: 1;
    grid-column: 5 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.device {
    height: 468px;
    background-color: #635a4a;
    grid-row: 2;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.well {
    height: 468px;
    background-color: #b08c4d;
    grid-row: 2;
    grid-column: 4 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.autos {
    margin-top: 161px;
    max-width: 1460px;
    margin: 0 auto;
    padding-bottom: 191px;
}
.auto-park {
    margin-top: 161px;
    height: 897px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.suction {
    height: 313px;
    box-sizing: border-box;
    background-color: #0e0e0e;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    padding-top: 44px;
    padding-left: 52px;
    grid-row: 1 / 8;
    grid-column: 1;
}
.sewer-flush {
    height: 439px;
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 51px;
    background-color: #242424;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    grid-row: 1 / 11;
    grid-column: 2;
}
.excavator-1 {
    height: 255px;
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 48px;
    background-color: #1f1f1f;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    grid-row: 1 / 7;
    grid-column: 3;
}
.board {
    height: 313px;
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 48px;
    background-color: #0e0e0e;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    grid-row: 7 / 14;
    grid-column: 3;
}
.loader {
    height: 560px;
    box-sizing: border-box;
    padding-top: 56px;
    padding-left: 52px;
    background-color: #1f1f1f;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    grid-row: 8 / 21;
    grid-column: 1;
}

.excavator-2 {
    height: 405px;
    box-sizing: border-box;
    padding-top: 47px;
    padding-left: 52px;
    background-color: #e4b564;
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    grid-column: 2;
    grid-row: 11 / 21;
}
.rink {
    height: 277px;
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 48px;
    background-color: #0a0909;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    grid-row: 14 / 21;
    grid-column: 3;
}

.autos-park {
    font-weight: 700;
}
.clients-projects {
    background-color: #0e0e0e;
    width: 100%;
    margin: 0 auto;
}
.our-clients {
    padding-top: 172px;
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.all-projects {
    font-family: 'Circe';
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    text-decoration: none;
    width: 180px;
    height: 50px;
    border: 1px solid #e4b564;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
}
.our-projects {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1460px;
    margin: 0 auto;
}
.eid-1 {
    width: 33.3%;
    height: 391px;
    background-color: #634f2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mavis {
    width: 33.3%;
    height: 391px;
    background-color: rgba(232, 210, 171, .76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mavis-image {
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}
.mavis-span {
    font-weight: 500;
}
.arsenal-1 {
    width: 33.3%;
    height: 391px;
    background-color: #e4b564;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arsenal-2 {
    width: 33.3%;
    height: 391px;
    background-color: #635a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set-group {
    width: 33.3%;
    height: 391px;
    background-color: #b08c4d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eid-2 {
    width: 33.3%;
    height: 391px;
    background-color: #634f2c;
    display: flex;
    justify-content: center;
    align-items: center;
}