.favorite {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 6px;  
    position: relative;
}

.favoriteName {
    font-size: 26px;
    display: block;
}

.amount {
    position: absolute;
    top: -20px;
    right: -10px;
    margin: 0; 
    min-width: 30px;
    min-height: 15px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.favoriteAmount {
    font-size: 16px;
    font-weight: 500;
    padding: 4px;
}