.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #403a3a;
    font-size: 20px;
    position: sticky;
    top: 50px;
}

.formTitle {
    text-align: center;
    background: rgba(255, 248, 131, 1) ;
    padding: 10px 15px;
    margin-bottom: 16px;
}

.submit {
    padding: 10px 15px;
    border: 1px solid transparent;
    box-shadow: 4px 4px rgba(64, 58, 58, 0.8);
    background: #ffa0db;
    color: #403a3a;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.submit:hover {
    border: 1px solid #403a3a;
    background-color: #403a3a;
    box-shadow: none;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

textarea,
input {
    font-size: 16px;
    font-family: sans-serif;
}
