* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121111;
}
.card {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    margin: auto;
    max-width: 85%;
    background-color: #121111;
    font-family: sans-serif;
    letter-spacing: 0.8px;
    font-size: 16px;
    padding-top: 10px;
    border-bottom: 1px solid #777474;

}

.card__image {
    width: 40px;
    height: 40px;
    margin-left: auto;
    border-radius: 50%;
}
.content__fullname {
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
}
.content__email {
    color: #777474;
    padding: 15px;
}
.content__time {
    color: #777474;
    padding: 15px;
}
.content__title {
    color: #777474;
    margin-top: 10px;
}
.content__text {
    color: #ccc;
    margin-top: 10px;
    font-size: 18px;
}

.button__delete {
    background-color: #777474;
    color: #ccc;
    border: none;
    width: 80px;
    padding: 5px;
    border-radius: 6px;
    grid-column: 2;
    margin-top: 20px;
    margin-bottom: 14px;
}