.btn {
    margin: 15px;
    padding: 10px 20px;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color);
}