.root {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 10px;
}

.textInput {
    box-sizing: border-box;
    padding: 10px;
    /* margin-bottom: 10px; */
}

.error {
    color: red;
    font-size: 14px;
}