body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.wrapper {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    padding: 20px;
    color: #5d5b5b;
}
.wrapper__title {
    color: #775f5f;
    text-align: center;
}
.wrapper__description {
    padding: 12px;
}
.wrapper__list {
    columns: 2;
}