* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
header {
    background-image: url(../images/Layer\ 1\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 240px;
}
.logo-menu {
    width: 100%;
    height: 120px;
    display: flex;
    background: rgba(94, 93, 88, 0.6);
    justify-content: center;
    align-items: center;
}
.logo-img {
    margin-right: 180px;
}
.navbar {
    display: flex;
}
.navbar-menu {
    display: flex;
}
.navbar-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    margin-right: 22px;
}
.navbar-link:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 49px;
}
.about-ham {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.header-ham-para {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
.theme-span {
    color: #18cfab;
}
.creative-para {
    font-size: 68px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 22px;
}
.buy-enjoy-para {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 22px;
}
.btn-links {
    display: flex;
    justify-content: center;
    margin-top: 114px;
}
.btn-explore {
    width: 170px;
    height: 64px;
    background-color: #18cfab;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
}
.btn-explore-white {
    width: 170px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    margin-right: 38px;
}
.explore-link,
.purchase-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-purchase-white {
    width: 170px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
}
.btn-purchase {
    width: 170px;
    height: 64px;
    background-color: #00cbf6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
}
.rectangles {
    margin-top: 10px;
    display: flex;
}
.different-options {
    width: 25%;
    height: 350px;
    background-color: #1c2a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.different-options-para {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
    margin-top: 27px;
}
.customizable {
    width: 25%;
    height: 350px;
    background-color: #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.customizable-para {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 18px;
}
.support {
    width: 25%;
    height: 350px;
    background-color: #1c2a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-para {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
    margin-top: 28px;
}
.responsive-design {
    width: 25%;
    height: 350px;
    background-color: #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsive-device-para {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
}
.img-svg {
    width: 40px;
    height: 57px;
}
.customize-img-svg {
    width: 60px;
    height: 70px;
}
.responsive-img-svg {
    width: 70px;
    height: 80px;
}
.title {
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}
.title::before {
    content: '';
    width: 78px;
    height: 2px;
    background-color: #18CFAB;
    display: block;
    margin-top: 30px;
    position: absolute;
    top: 26px;
    left: calc(50% - 48px);
}
.title::after {
    content: '';
    width: 78px;
    height: 2px;
    background-color: #18CFAB;
    display: block;
    margin-top: 30px;
    position: absolute;
    top: 30px;
    left: calc(52% - 48px);
}
.our-services {
    padding-bottom: 90px;
}
.service-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.service-nav {
    display: flex;
    justify-content: flex-start;
}
.service-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 34px;
    border: 1px solid #edefef;
    background-color: #f8fcfe;
}
.service-list.active {
    background-color: #18cfab;
    color: #ffffff;
    position: relative;
}
.service-list.active::after {
    content: "";
    border: 16px solid transparent;
    border-top: 16px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 64px;
    width: 0;
}
.service-list:hover {
    border: 1px solid #18cfab;
}
.service-text {
    display: none;
}
.service-text-active {
    display: flex;
}
.service-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}
.install-now {
    background-image: url(../images/Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.install-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
    padding-top: 56px;
}
.reliable-para {
    font-size: 16px;
    font-weight: 420;
    color: #d8d8d8;
    line-height: 40px;
    margin-top: 12px;
}
.btn-purchase-install-white {
width: 170px;
height: 64px;
background-color: #ffffff;
border-radius: 4px;
position: relative;
margin-top: 42px;
}
.btn-purchase-install {
    width: 170px;
    height: 64px;
    background-color: #18cfab;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
}
.install-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.amazing-work {
    background-color: #e9edef;
    padding-bottom: 99px;
    padding-top: 95px;
}
.amazing-work-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    margin-bottom: 68px;
}
.amazing-work-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border: 1px solid #dadada;
    background-color: rgba(0, 0, 0, 0.0001);
}
.amazing-work-list.amazing-list-active {
    border: 2px solid #18cfab;
    color: #18cfab;
    position: relative;
}
.amazing-work-list.all {
    padding: 14px 28px;
}
.creative-amazing-work {
    width: 285px;
    height: 206px;
    background-color: #e9edef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creative-amazing-work:hover {
    border: 2px solid #18cfab
}
.amazing-pic {
    position: relative;
    display: none;
}
.amazing-pic-active {
    display: flex;
}
.amazing-work-hover {
    width: 285px;
    height: 211px;
    background-color: #e9edef;
    border-top: 6px solid #18cfab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.amazing-work-icon {
    margin-top: 40px;
}
.amazing-work-para {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18cfab;
    text-transform: uppercase;
    margin-top: 22px;
}
.web-design-para {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8a8a8a;
}
.amazing-pic:hover .amazing-work-hover {
    opacity: 1;
}
.amazing-work-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn-load {
    width: 170px;
    height: 64px;
    background-color: #18cfab;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}
.img-load {
    width: 170px;
    height: 64px;
    background-color: #18cfab;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    border: none;
    font-size: 16px;
    line-height: 42px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.forma {
    padding-right: 15px; 
}
.load-link {
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 15px;
}
.part-one {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-bottom: 128px;
}
.part-one-pic:hover .date {
    background-color: #18cfab;
}
.part-one-pic:hover .part-one-para {
    color: #18cfab;
}
.part-two-pic:hover .date {
    background-color: #18cfab;
}
.part-two-pic:hover .part-two-para {
    color: #18cfab;
}
.part-three-pic:hover .date {
    background-color: #18cfab;
}
.part-three-pic:hover .part-three-para {
    color: #18cfab;
}
.part-four-pic:hover .date {
    background-color: #18cfab;
}
.part-four-pic:hover .part-four-para {
    color: #18cfab;
}
.part-five-pic:hover .date {
    background-color: #18cfab;
}
.part-five-pic:hover .part-five-para {
    color: #18cfab;
}
.part-six-pic:hover .date {
    background-color: #18cfab;
}
.part-six-pic:hover .part-six-para {
    color: #18cfab;
}
.part-seven-pic:hover .date {
    background-color: #18cfab;
}
.part-seven-pic:hover .part-seven-para {
    color: #18cfab;
}
.part-eight-pic:hover .date {
    background-color: #18cfab;
}
.part-eight-pic:hover .part-eight-para {
    color: #18cfab;
}
.part-one-pic,
.part-two-pic,
.part-three-pic,
.part-four-pic,
.part-five-pic,
.part-six-pic,
.part-seven-pic,
.part-eight-pic{
    position: relative;
    background-color: #f2f4f5;
    padding-bottom: 15px;
}
.date {
    width: 70px;
    height: 68px;
    background-color: #203e38;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.part-one-para,
.part-two-para,
.part-three-para,
.part-four-para,
.part-five-para,
.part-six-para,
.part-seven-para,
.part-eight-para {
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: #717171;
    padding-left: 15px;
}
.part-one-twoparas {
    display: flex;
    font-size: 14px;
    color: #777777;
    padding-left: 18px;
}
.part-one-admin,
.part-two-admin,
.part-three-admin,
.part-four-admin,
.part-five-admin,
.part-six-admin,
.part-seven-admin,
.part-eight-admin {
    border-right: 1px solid #777777;
    padding-right: 10px;
}
.part-one-comment,
.part-two-comment,
.part-three-comment,
.part-four-comment,
.part-five-comment,
.part-six-comment,
.part-seven-comment,
.part-eight-comment {
    padding-left: 10px;
}
.people-about-theham {
    background-image: url(../images/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-the-ham {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 98px;
}
.theham-title {
    color: #ffffff;
}
.slider-content-item {
    display: none;
}
.slider-content-item.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-content-item img {
    width: 140px;
    height: 140px;
}
.slider-min-images {
    display: flex;
    gap: 20px;
}
.slider-min-image.active {
    position: relative;
    transform: translateY(-15px);
    transition: 0.6s;
}

.about-theham-para {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #bbbbbb;
    margin-top: 36px;
    text-align: center;
}
.names {
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
    margin-top: 37px;
}
.profession {
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    color: #bbbbbb;
    margin-bottom: 48px;
}
.worker-pic {
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}
.see-workers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 58px;
    padding-bottom: 104px;
}
.slider-previous,
.slider-next{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    color: #fff;
    padding: 8px;
}
.slider-previous:hover,
.slider-next:hover {
    background: #18cfab;
    border: none;
}
.gallery-pool {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.two-pools {
    display: flex;
    gap: 3px;
}

.gallery-pool-eleven {
    width: 180px;
    height: 168px;
    background-image: url(../images/gallery-pool4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.best-images {
    flex: 1;
    display: flex;
    gap: 15px;
}
.grid-item{
    margin-right: 9px;
    margin-bottom: 9px;
}
.group-two,
.group-three {
    width: 27px;
    height: 25px;
    background-color: #14b9d5;
    margin-left: 20px;
    margin-top: 72px;
    padding: 4px 8px;
}
.best-gallery {
    padding-bottom: 80px;
}
footer {
    height: 120px;
    background-color: #22353f;
    text-align: center;
    padding-top: 44px;
}
.copy-right {
    font-size: 14px;
    font-weight: 300;
    color: #aeaeae;
}
.footer-span {
    color: #18cfab;
    border-right: 1px solid #aeaeae;
    padding-right: 5px;
}