.modalShadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
  background: linear-gradient(136deg, rgba(255, 169, 239, 1) 11%, rgba(255, 248, 131, 1) 50%, rgba(95, 251, 241, 1) 84%);
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
  font-family: sans-serif;
  border-radius: 4px;
}

.title {
  font-size: 20px;
  color: rgb(64, 58, 58);
  padding: 20px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgb(64, 58, 58);
  border-radius: 4px;
}

.mainText {
  color: rgb(64, 58, 58);
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.btnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}