.container {
    text-align: center;
}

.finder {
    border: none;
    border-radius: 4px;
    background-color: #36a9f6;
    font-size: 16px;
    color: #fff;
    padding: 5px 15px;
    margin-top: 30px;
}

.info-here {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    margin-top: 40px;
    word-spacing: 2px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #36a9f6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 66px;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    visibility: hidden;
}
