@import "variables";
@import "resets";
@import "mixins";

.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* Start of burger-menu*/

.menu-btn {
  display: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 36px;
  background-color: #000;
  cursor: pointer;
  margin-left: auto;
  margin-top: 23px;
  position: relative;
  margin-bottom: 23px;
  & span {
    display: block;
    background-color: $span-background;
    width: 17px;
    height: 2px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $span-background;
    width: 17px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &::before {
    top: 12px;
  }
  &::after {
    bottom: 12px;
  }
}
.menu-btn.open-menu span {
  display: none;
}
.menu-btn.open-menu::after {
  transform: rotate(45deg);
  top: 17px;
  left: 10px;
  width: 23px;
}
.menu-btn.open-menu::before {
  transform: rotate(-45deg);
  top: 17px;
  left: 10px;
  width: 23px;
  transition: transform 0.5 ease-in-out;
}

/* End of burger-menu*/
.header-nav {
  position: relative;
}
.nav {
  &-list {
    @include flex;
    justify-content: center;
    gap: 68px;
    padding: 40px 0;
  }
  &-link {
    color: $link-title-color;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    &:focus {
      color: $link-hover;
    }
  }
}

.hero-img {
  width: 100%;
}
.section-title {
  font-size: $primary-font-size;
  line-height: 22px;
  color: $link-title-color;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.posts {
  margin: 68px 0;
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 32px;
  }
  &-item {
    display: flex;
    gap: 20px;
  }
  &-img {
    max-width: 160px;
  }
  &-title {
    font-weight: 700;
    font-size: $primary-font-size;
    line-height: 30px;
    color: $link-title-color;
  }
  &-text {
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
    margin-bottom: 13px;
  }
  &-subtext {
    font-size: 14px;
    line-height: 26px;
    color: $subtext-color;
  }
}

.shots {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 46px 0;
  &-text {
    @include flex;
    justify-content: space-between;
  }
  &-link {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color: $link-title-color;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &-list {
    @include flex;
    justify-content: center;
    gap: 10px;
  }
}
.footer {
  background-color: #000;
  padding: 68px 0;
  @include flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &-title {
    color: #fefefe;
  }
  &-text {
    font-size: $primary-font-size;
    line-height: 28px;
    color: #b9b9b9;
    width: 684px;
  }
}
.socials {
  &-list {
    display: flex;
    gap: 6px;
    margin: 36px 0;
  }
}
@media screen and (max-width: 965px) {
  .container {
    padding: 0 15px;
  }
  .nav {
    &-list {
      gap: 34px;
    }
  }
  .posts {
    &-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .shots {
    &-item:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .container {
    padding: 0 10px;
  }
  .menu-btn {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .menu-open {
    display: block;
    position: absolute;
    right: 10px;
    top: 36px;
    background-color: #f5f5f5;
    padding: 0;
  }
  .nav-link {
    padding: 6px 14px 4px;
    min-width: 182px;
    display: block;
    &:hover {
      background-color: $nav-link-hover;
    }
  }

  .posts {
    &-item {
      flex-direction: column;
    }
    &-subtext {
      display: none;
    }
  }
  .shots {
    &-title {
      span {
        display: none;
      }
      &::after {
        content: "- Last instagram shot";
      }
    }
    &-link {
      display: none;
    }
    &-item:nth-last-child(-n + 3) {
      display: none;
    }
  }
  .footer {
    padding: 35px;
    &-text {
      width: 302px;
      font-size: 12px;
      line-height: 20px;
      span {
        display: none;
      }
    }
    .contacts {
      width: 235px;
      a {
        display: block;
      }
    }
    &-socials {
      width: 234px;
    }
  }
}
