.modalBtns {
    background-color: var(--color);
    padding: 10px 20px;
    color: rgb(64, 58, 58);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}