
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: url(../images/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #f26522;
}
.logo-link:hover .logo-orange {
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 1023px;
    margin: 0 auto;
}
.header-milan {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 29px;
}
.header-milan:hover {
    /* color: #f26522; */
}
.header-holidays {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.header-holidays:hover {
    /* color: #f26522; */
}
.milan-holidays {
    display: inline-block;
}
.logo-wrapper {
    display: inline-block;
    position: relative;
}
.logo-orange {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.contacts {
    font-size: 18px;
    text-align: end;
}
.contacts:hover {
    /* color: #f26522; */
}
.mail {
    margin-bottom: 19px;
}
/* .mail:hover {
    color: #f26522;
}
.number:hover {
    color:#f26522;
} */
main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 300px);
    column-gap: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} 
.shopping {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    position: relative;
}
.sightseeing {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
}
.food-tour {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    position: relative;
}
.nightlife {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 15px;
    position: relative;
}
.architecture {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 15px;
    position: relative;
}
.walking-tour {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-top: 15px;
    position: relative;
}
.tour-para {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
}
.shopping-img,
.sightseeing-img,
.food-tour-img,
.nightlife-img,
.architeucture-img,
.walking-tour-img {
    width: 300px;
    height: 220px;
}
.details {
    display: none;
    background-color: #f26522;
    width: 297px;
    height: 55px;
    padding: 8px 16px;
    position: absolute;
    top: 163px;
    left: 1px;
}
.details-anchor::after {
    content: url("../images/arrow.svg");
    margin-left: 16px;
}
.shopping:hover .details {
    display: block;
}
.sightseeing:hover .details {
    display: block;
}
.food-tour:hover .details {
    display: block;
}
.nightlife:hover .details {
    display: block;
}
.architecture:hover .details {
    display: block;
}
.walking-tour:hover .details {
    display: block;
}
.from {
    font-size: 10px;
}
.summ {
    font-size: 20px;
}
.details-anchor {
    font-size: 14px;
}
.view-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px; 
}
.footer-paragraph {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 50px;
}