footer {
    width: 100vw;
    background: linear-gradient(136deg, rgb(247, 113, 223) 11%, rgba(255, 248, 131, 1) 50%, rgba(95, 251, 241, 1) 84%);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footerText {
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}