.card {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  font-size: 20px;
  font-weight: bold;
  color: #403a3a;
  gap: 6px;
}

.cardImage {
    width: 370px;
    height: 370px;
}

.cardBtn {
    padding: 10px 15px;
    border: 1px solid transparent;
    background: #ffa0db;
    color: #403a3a;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.cardBtn:hover {
    border: 1px solid #fff;
    background-color: #403a3a;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.favBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    margin-left: auto;
}

.amount {
    opacity: .4;
    text-align: end;
    font-size: 16px;
}