* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/bckground.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100vh;
}
.logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    transition: color .5s;
}

.logo:hover {
    color: #01813f;
}
.contacts {
    display: flex;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58px;
    background: rgba(0, 0, 0, .4);
}
.calendar,
.mail,
.compass {
    margin-right: 27px;
    transition: fill .5s;
}
.calendar:hover .calendar-svg path{
    fill: #01813f;
}
.mail:hover .mail-svg path {
    fill: #01813f;
}
.compass:hover .compass-svg path {
    fill: #01813f;
}
.welcome {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    padding-top: 7px;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, .5);
}
a {
    text-decoration: none;
}
.login,
.signup {
    color: #fff;
    transition: color .5s;
}
.login:hover {
    color: #01813f;
}
.signup:hover {
    color: #01813f;
}
.sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.log-in-anchor {
    color: #3cb878;
    font-size: 14px;
    line-height: 14px;
    transition: color .5s;
}
.log-in-anchor:hover {
    border-bottom: .7px solid #01813f;
    color: #01813f; 
}
.signup-form {
    width: 444px;
    margin: 53px auto;
    background-color: #fff;
    position: relative;
}
.square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 29px;
    left: 0;
}
.registration {
    padding-top: 29px;
    display: flex;
    justify-content: space-around;
}
.buttons { 
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.facebook {
    color: #fff;
    font-size: 24px;
    width: 160px;
    height: 48px;
    background-color: #305db8;
    padding-left: 17px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 6px;
    transition: background-color .5s;
}
.facebook:hover {
    background-color: #022263;
}
.facebook-f {
    border-right: 1px solid rgba(10, 22, 47, .1);
    padding-right: 19px;
}
.facebook-anchor {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 300;
}
.google {
    background-color: #df4a32;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color .5s;
}
.google:hover {
    background-color: #ab1f09;
}
.google-plus {
    font-size: 19px;
    color: #fff;
    border-right: 1px solid rgba(43, 13, 9, .1);
    padding-right: 7px;
}
.google-anchor {
    font-size: 16px;
    color: #fff;
}
fieldset {
    border: none;
    border-top: 1px solid #f2f2f2;
    color: #848484;
    text-align: center;
    margin: 31px auto;
    width: 322px;
}

#name,
#last-name,
#email,
#password, 
#confirm-password{
    width: 322px;
    height: 44px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #434343;
    margin-top: 15px;
    padding-left: 20px;
    outline: none;
}
input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
}
.agreement {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-top: 20px;
    display: inline-block;
}
.conditions {
    color: #3cb878;
    transition: color .5s,
    border-bottom .5s;
}
.conditions:hover {
    color:#01813f;
    border-bottom: 1px solid #01813f;
}
button {
    width: 324px;
    height: 46px;
    border: 1px solid rgba(60, 184, 120, .8);
    border-radius: 4px;
    background: rgba(60, 184, 120, .8);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 38px;
    transition: background-color .5s;
}
button:hover {
    background-color: #01813f;
}