body {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000000;  
  margin-top: 63px;
}
span {
    color: #4bcaff;
}
.head-nav {
  background-color: #35444f;
  width: 100%;
  height: 69px;
  margin-top: 40px;
}
.head-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
a {
  text-decoration: none;
}
.programming {
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  padding-left: 32px;
  padding-right: 32px;
}
.programming:hover {
  background-color: #222f3a;
}
.ramda-link {
  color: #fff;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  padding-left: 32px;
  padding-right: 32px;
}
.ramda-link:hover {
background-color: #222f3a;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.aside-bar {
  padding-top: 10px;
  width: 344px;
  height: 399px;
  background-color: rgba(0, 0, 0, .0001);
  border: 1px solid #000;
}
.aside-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  width: 100%;
  padding: 25px 44px;
  display: inline-block;
  box-sizing: border-box;
}
.aside-link:hover {
  background-color: #dbdbdb;
  padding-left: 64px;
}
.ramda-img {
  width: 885px;
  height: 529px;
  overflow: hidden;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42px;
}
.ramda-image {
  transition: transform .3s;
}
.ramda-img:hover .ramda-image {
  transform: scale(1.1);
}
.paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
  margin-left: 42px;
}
.container-footer {
  width: 1280px;
  height: 69px;
  background-color: rgba(99, 105, 110, .48);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 30px;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 8px;
  padding-top: 8px;
}
.footer-link {
  color: #0c1927;
  margin-right: 22px;
}
.footer-link:hover {
  color: #3181a6;
  padding-bottom: 13px;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}

.theme-change {
  position: fixed;
  top: 20px;
  right: 262px;
  padding: 15px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  background-color: #4bcaff;
  border: none;
}