.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    background: linear-gradient(136deg, rgb(247, 113, 223) 11%, rgba(255, 248, 131, 1) 50%, rgba(95, 251, 241, 1) 84%);
    color: rgb(64, 58, 58);
    font-family: sans-serif;
    margin-bottom: 50px;
}

.list {
   display: flex;
   gap: 50px;
}

.logo {
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
}

.headerLink {
    text-decoration: none;
    color: #403a3a;
    font-size: 26px;
}