.card {
    display: flex;
    justify-content: stretch;
    gap: 30px;
    font-size: 20px;
    color: #403a3a;
}

.cardImage {
    width: 400px;
    height: 400px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 12px;
}

.name,
.price {
    font-weight: 700;
}

.description {
    font-size: 14px;
}

.cardBtn {
    padding: 10px 15px;
    border: 1px solid transparent;
    box-shadow: 4px 4px rgba(64, 58, 58, 0.8);
    background: #ffa0db;
    color: #403a3a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

.cardBtn:hover {
    border: 1px solid #403a3a;
    box-shadow: none;
    background-color: #403a3a;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.counterContainer {
    width: 120px;
    border: 1px solid #403a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.decrement,
.increment {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 8px;
}

.amount {
    padding: 10px;
}